body {
    background: #566cb1;
    color: aliceblue;
    margin: 0 auto;
}
.foto-logo{
    width: 20%;
    margin: 18px;
    border-radius: 100%;
}

nav{
position: absolute;
top: 90px;
right: 65px;
}
nav a{
font-size: 26px;
text-decoration: none;
text-transform: uppercase;
padding-left: 20px;
color: rgb(0, 0, 0);
}
nav a:hover{
    font-size: 34px;
    font-weight: bold;
    text-shadow: 2px 3px 5px #000000;
    transition: 0.5s;
}
