body {
    background: #566cb1;
    color: aliceblue;
    margin: 0 auto;
}
main {
    text-align: center;
    
}
#slogan{
   font-size: 25px
}
.capa{
    width: 80%;
    height: 58%;
}
ul{
    display: online-block;
    vertical-align: top;
    font-size: 20px;
    
    
}
.foto_beneficio{
     width: 40%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #000000;
}


.foto-logo{
    width: 10%;
    margin: 18%;
    border-radius: 100%;
}