body {
    background: #566cb1;
    color: aliceblue;
    margin: 0 auto;
}
.foto-logo{
    width: 20%;
    margin: 18px;
    border-radius: 100%;
}

nav{
position: absolute;
top: 90px;
right: 65px;
}
nav a{
font-size: 26px;
text-decoration: none;
text-transform: uppercase;
padding-left: 20px;
color: rgb(0, 0, 0);
}
nav a:hover{
    font-size: 34px;
    font-weight: bold;
    text-shadow: 2px 3px 5px #000000;
    transition: 0.5s;
}
.imagem-produto{
    width: 100%;
}
.produtos{
    width: 905px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 0.5%;
    padding: 30px 5px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 15px;
}
.produtos li:hover{
    border: 2px solid #000000;
    box-shadow: 3px 3px 6px #ffffff
}
.produtos h2 {
    font-size: 22px;
}
.produtos h2:hover{
    color: #FF0000
}
